.container {
    color: black;
}

.search-hero {
    max-width: 500px;
}

.form-control {
    width: 200px;
    height: 15px;
}

.form-control::placeholder {
    font-family: FontAwesome;
}

table {
    border-collapse: collapse;
    overflow: auto;
    /* height: 300px; */
}

td,
th {
    /* border: 1px solid yellow; */
    text-align: left;
    padding: 8px;
}

.cityList {
    overflow: auto;
    height: 400px;
}

S button {
    margin-top: 100px;
}