.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
}

label {
    justify-content: center;
}
.invalid{
    border-color: red;
}
.d-none{
    visibility: hidden;
   
}
.if-invalid{
    color: red;
}