<div class="container">
    <div>
        <h2>{{"weather in "+weather?.name+" /"+weather?.sys?.country}}</h2><br>
        <!-- <h3>{{fourDayWeatherInfo[0]?.temp}}</h3> -->
    </div>

    <div class="weather-list">
        <table>

            <tr>
                <td>day</td>
                <td>temp</td>
                <!-- <td>temp_max</td> -->
            </tr>
            <tr *ngFor="let wth of fourDayWeatherInfo">
                <td>{{wth.date | date:'EEEE, MMM dd'}}</td>
                <td>{{(wth.temp  - 277.15| number:'2.1-3'}}°C</td>
                <!-- <td>{{wth.temp_max - 273.15 +" °C"}}</td> -->

                <td><a [routerLink]="['/detailes-weather', wth.id]">weather detailes</a></td>
            </tr>

        </table>
        <button (click)="searchAboutCity()">Find  your city</button>
    </div>
</div>